# This must be a PUBLIC Enoki key with zkLogin enabled for Testnet.
NEXT_PUBLIC_ENOKI_API_KEY=replace_with_public_enoki_api_key

# This is the OAuth 2.0 Client ID configured for Google in the Enoki Portal.
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace_with_google_oauth_client_id

# Use localhost during development. Change this to the deployed URL for the final demo.
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Member 3's public Testnet contract address. Change this only if the contract is republished.
NEXT_PUBLIC_SHIELDPASS_PACKAGE_ID=0xb0761fc1fc88160d64b8a9ef9711aa820215e86b1552d0c03ca562faf2a192b0
